<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link href="login.css" rel="stylesheet">
	<script src="login.js"></script>
</head>

<body>
	<h2>Login ForSm <%= test %>
	</h2>

	<form action="/login" method="post">
		<div class="imgcontainer">
			<img src="hack.png" alt="Avatar" class="avatar">
		</div>
		<h2 id="flag"></h2>
		<h3 id="turn"></h3>
		<div class="container">
			<label for="captcha" id="captcha"></label>
			<input type="text" placeholder="Enter the captcha" name="captcha" required>
			<input class="login_button" type="submit" value="Authorize"></button>
		</div>
	</form>
</body>

</html>